<header>

    <div id="overlay-menu" class="overlay">
        <nav id="menu">
            <ul>
                <!-- <li>
                    <a href="#section-3" class="nav-item type-large">
                        <span class="title">Sobre</span>
                    </a>
                </li> -->
            </ul>
        </nav>
        <nav id="lang">
            <ul>
            {{ locales }}
                {{ if first }}
                    <li class="active"><a href="{{ url }}">{{ locale:key }}</a></li>
                {{ else }}
                    <li><a href="{{ url }}">{{ locale:key }}</a></li>
                {{ /if }}
             {{ /locales }}
            </ul>
        </nav>
        <nav id="backtohome">

        {{ site }}
            <a href="{{ url }}">{{ config:site_name }}</a>
        {{ /site }}

        </nav>
    </div>

</header>

<div id="burger" class="icon-burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
